.header__system{
    background-color: var(--green-color);
}
.header__system--nav{
    display: flex;
    justify-content: space-between;
}
.header__system--title{
    font-size: 1.4rem;
    text-transform: uppercase;
    background-image : linear-gradient(rgb(197, 8, 8), rgb(247, 163, 7));
    color: transparent;
    -webkit-background-clip:text;
    background-clip:text;
    /* color: var(--white-color); */
    font-weight: 600;
    padding: 13px 0;
    margin: 0;
}
.header__system--item{
    padding: 0;
    margin: 0;
}
.header__system--item li{
    display: inline-block;
    list-style-type: none;
    padding: 13px 0;
    cursor: pointer;
}
.header__system--registration{
    padding-left: 20px !important;
}
.header__system--login--link{
    font-size: 1.6rem;
    color: var(--white-color);
    font-weight: 500;
    text-decoration: none;
}
.header__system--login{
    position: relative;
}
.header__system--login::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 13px;
    background-color: var(--white-color);
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}


/* header  */   
.header__banner{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.header__logo img{
    padding: 30px 0;
    object-fit: cover;
}
.header__title{
    text-align: center;
    border: 1px solid var(--display-color);
    position: relative;
}
.header__title::before{
    position: absolute;
    content: "";
    top: 3px;
    right: 3px;
    left: 3px;
    bottom: 3px;
    border: 1px solid var(--display-color);
}
.header__title h3,
.header__title p{
    margin: 0;
}
.header__title h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding: 13px;
}
.header__title p{
    padding: 5px 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--text-color);
}
.header__title--p{
    padding-bottom: 15px !important;
}
.header__contact{
    display: flex;
    flex-direction: column;

}
.header__contact--item{
    display: flex;
    padding-top: 13px;
}
.header--icon {
    color: var(--green-color);
}
.header__contact--search-item{
    display: flex;
}
.header__contact--phone,
.header__contact--mail{
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 10px 0 20px 0;
}
.header__contact--phone{
    padding-right: 15px;
}
.header__contact--search--post{
    flex: 1;
    height: 38px;
    border: 0;
    background-color: #f2f2f2;
    padding: 15px;
    font-size: 1.5rem;
    color: var(--text-color);
}
.header__contact--search-icon{
    width: 39px;
    background-color: var(--green-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
}
.header__contact--search--post:focus{
    border: 1px solid var(--green-color);
    outline: none;
    font-size: 1.5rem;

}
#menu{
    border-top: 1px solid var(--display-color);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar--icon,
.header__navbar--item{
    padding: 0;
    margin: 0;
}

.header__navbar--icon--label
,.header__navbar--link{
    list-style-type: none;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
.header__navbar--label{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 0;
    color: var(--text-color);
    text-decoration: none;
    position: relative;
}
.header__nav--icon{
    font-size: 1.8rem;
    color: var(--black-color);
    position: relative;
    cursor: pointer;
}
.header__navbar--label::before{
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    top: 0;
    left: 0;
    background-color: var(--green-color);
    transition: all .3s ease-in-out 0s;
}
.header__navbar--label:hover::before{
    width: 100%;
}
.header__label--amount{
    position: absolute;
    top: -60%;
    left: 60%;
    width: var(--width-icon-header);
    height: var(--width-icon-header);
    background-color: var(--green-color);
    text-align: center;
    line-height: calc(var(--width-icon-header) - 3px);
    border-radius: 50%;
}
.header__label{
    font-size: 1.4rem;
    color: var(--white-color);
}
/* header__child */
.header__child--item{
    position: absolute;
    top: 100%;
    min-width: 450px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    /* border-radius: ; */
    /* left: 100%; */
    border: 1px solid #ccc;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    backface-visibility: hidden;
    /* transition: .5s; */
    transform: translateY(-20px);
    transition: all .3s ease;
    visibility: hidden;
    z-index: 100;
}
.header__child{
    padding: 0;
    margin: 0;
}
.header__child--newItem--link,
.header__child > li{
    list-style: none;
    padding: 13px 18px;
}
.header__child--newItem--label,
.header__child--link{
    font-size: 1.5rem;
    text-decoration: none;
    color: #555;
    transition: 0.2s;
}
.header__child--newItem--label:hover,
.header__child--link:hover{
    color: var(--green-color);
}
.header__child--post{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
}
.header__navbar--link:hover .header__child--news,
.header__navbar--link:hover .header__child--item{
    opacity: 1;
    box-shadow: 0px 4px 13px -3px #808080;
    border-top: 2px solid var(--green-color);
    visibility: inherit;
    transform: translateY(0);
}
.header__child--news{
    position: absolute;
    background-color: var(--white-color);
    min-width: 280px;
    top: 100%;
    left: 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    backface-visibility: hidden;
    /* transition: .5s; */
    transform: translateY(-20px);
    transition: all .3s ease;
    visibility: hidden;
    z-index: 100;
}
.header__child--newItem{
    margin: 0;
    padding: 0;
}
/* content */
#content{
    margin-top: -15px;
}
/* slider */
.slider__item{
    position: relative;
}
.owl-nav{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-100%);
    display: flex;
    justify-content: space-between;
    font-size: 5rem;
    color: var(--text-color);
}
/* .owl-prev span,
.owl-next span{
    font-size: 5rem !important;
    color: var(--text-color) !important;
} */
.owl-theme .owl-nav [class*=owl-]:hover {
    background:none !important;
}
.owl-next:hover,
.owl-prev:hover{
    background: none;
    color: none;
}
.owl-dots{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.aboutUs{
    margin-top: -10px;
    width: 100%;
    height: 412px;
    background-image: url(/image/banner_content2.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
    object-fit: cover;
    background-attachment: scroll;
    /* position: relative; */

}
.aboutUs__post{
    width: 100%;
    height: 412px;
    background-image: url(/image/banner_content1.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
    object-fit: cover;
}
.aboutUs__label{
    text-align: center;
    font-size: 1.8rem;
    font-weight:200;
    line-height: 30px;
    padding: 0 50px;
    color: var(--text-color);
}
.BigSale__header--post{
    font-size: 2.3rem;
    line-height: 25px;
    margin: 0;
    color: var(--primary-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    /* padding-bottom: 10px; */
}
.BigSale__header p {
    font-size: 1.8rem;
    line-height: 23px;
    /* margin: 0; */
    color: var(--text-color);
}
.BigSale__time{
    position: relative;
}
.demo__time{
    display: inline-block;
    width: 100%;
    background-color: var(--green-color);
    padding: 15px 0;
}
.hour{
    float: left;
    width: 25%;
    border-left: 1px solid var(--display-color);
    text-align: center;
    border-radius: none;
    font-size: 4rem;
    line-height: 4rem;
    padding-bottom: 20px;
    /* padding: 10px 0 20px 0; */
    color: var(--white-color);
}
.demo__hour{
    position:absolute;
    /* top: 60%; */
    left: 0;
    right: 0;
    bottom: 20px;
    width: 100%;
    
}
.time__text{
    width: 25%;
    padding-top: 20px;
    float: left;
    font-size: 2.5rem;
    text-align: center;
    color: var(--white-color);
    /* padding-bottom: 20px; */
}

.SaveUp{
    height: 200px;
    background-color: #f4eede;
}
.FreeShip{
    background-color: #d4e0ab;
    height: 200px;
}
.Save__img img{
    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: cover; */
    margin-top: 30px;
    /* margin-left: 15px; */
}
.Save__img2 img{
    margin-top: -50px;
    /* overflow: hidden; */
    /* height: 200px; */
}
.Save__title h2{
    margin: 0;
    font-size: 3.5rem;
    color: var(--border--color);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 100%;
    padding: 35px 0 15px 0;
    text-align: center;
    font-style: italic;
}
.Save__title h4{
    margin: 0;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
}
.Save__title--h42{
    color: #5fc69c;
}
.Save__title--h4{
    color: #555555;
}



/* product */
.product__category--item{
    padding: 0;
    margin: 0;
    text-align: center;
}
.product__category--link{
    display: inline-block;
    list-style-type: none;
    padding: 0 13px;
    /* position: relative; */
}
.product__category--label{
    font-size: 1.7rem;
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
}
.product__category--label.active{
    color: #2b2828;
}
.product__category--label:hover{
    color: #2b2828;
}
.product__category--post{
    position: relative;
}
.product__category--post::before{
    content: "/";
    position: absolute;
    right: -5px;
    font-size: 1.7rem;
}
.product__category{
    margin-bottom: 35px;
}

.promotion{
    /* padding: 15px 20px; */
    position: absolute;
    top: 15px;
    left: 15px;
    display: block;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 6px;
    width: 60px !important;
    height: 25px !important;
    background-color: var(--green-color);
    font-size: 1.3rem;
    border-radius: 5px;
    color: var(--white-color);
    z-index: 3;
}

.products{
    flex-wrap: wrap;
    margin-left: calc(var(--width-product) * -1);
    display: none;
    /* margin-left: -15px; */
    /* margin-right: -15px; */
}
.products_item{
    overflow: hidden;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: calc(25% - var(--width-product));
    margin-left: var(--width-product);
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-top: var(--width-product);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.products_item::before{
    /* display: none; */
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    /* top: 0; */
    /* left: 0; */
    background-color: rgba(0, 0, 0, 0.5);
    /* transform: translateX(-100%); */
    z-index: 2;
    transition: all .4s ease-in-out 0s;
}
.products_item:hover::before{
    width: 100%;
    /* transform: translateX(0); */
    /* display: block; */
}
.img_pro{
    width: 100%;
    height: 260px;
    object-fit: cover;
    flex-shrink: 0;
}
.pro_content{
    /* background-color: red; */
    padding: 15px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.pro_content h3{
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2 ;
    overflow: hidden;
    text-overflow : ellipsis;
}
.price{
    margin-top: auto;
    display: flex;
    justify-content: center;
}
.price p{
    font-size: 1.5rem;
    padding: 0 3px;
    font-style: italic;
}
.products_image{
    position: relative;
}
.price__pro{
    color: rgb(153, 153, 153);
    font-weight: 400;
    text-decoration: line-through;
}
/* product__service */
.product__cart{
    z-index: 4;
    position: absolute;
    /* width: 100%;
    height: 100%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .5s;
}
.products__star{
    display: flex;
    justify-content: center;
    /* display: none; */
}
.products__star,
.button1,
.products__action{
    transition: .2s;
    visibility: hidden;
    transform: translateY(-50px);
}
.products_item:hover .products__action,
.products_item:hover .button1,
.products_item:hover .products__star{
    /* display: inline-block; */
    visibility: inherit;
    transform: translateY(0);
}
.products__star p{
    font-size: 1.3rem;
    color: var(--green-color);
}
.products__action{
    text-align: center;
}
.products__action{
    display: flex;
    justify-content: center;
}
.product__icon {
    width: 40px;
    margin: 2px 3px 0 3px;
    /* padding: 0 5px; */
    color: var(--white-color);
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    /* background-color: ; */
    border: 1px solid var(--white-color);

}
.product__icon:hover{
    background-color: var(--green-color);
}
.products.active10{
    /* display: inline-block; */
    display: flex;
}
/* customer */

#customer{
    margin-top: 50px;
    margin-bottom: 50px;
}
.customer__post{
    padding: 30px 0;
}
.customer__img{
    width: 100%;
    height: auto;
    background-image: url(/image/news.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.customer__top{
    width: 118px;
    height: 118px;
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;
}
.customer__top img{
    border: 1px solid white;
    width: 100%;
    padding: 8px;
    height: 118px;
    border-radius: 50%;
    object-fit: cover;
}
.customer__information{
    text-align: center;
    font-size: 2.4rem;
    padding: 0 100px;
    line-height: 3rem;
    color: var(--white-color);
    font-style: italic;
}
.customer__name{
    text-align: center;
    padding-bottom: 10px;
    position: relative;
}
.customer__text::before{
    content: "";
    width: 50px;
    position: absolute;
    height: 1px;
    background-color: white;
    left: -25px;
    top: 50%;
    transform: translate(-50%);
}
.customer__text::after{
    content: "";
    width: 50px;
    position: absolute;
    height: 1px;
    background-color: white;
    right: -75px;
    top: 50%;
    transform: translate(-50%);
}
.customer__text{
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--white-color);
    z-index: 2;
}


/* news */
.news__img{
    width: 100%;
    height: 370px;
    position: relative;
}
.news__img .news__img--link{
    /* width: 100%;
    height: 100%; */
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    transition: 0.3s;
}
.img_news{
    display: block;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1);
}
.news__post:hover .news__img--link{
    opacity: 0.8;
}
.news__post:hover .img_news{
    transform: scale(1.1);
}
.news__title{
    padding: 15px 0;
}
.news__time{
    font-size: 1.4rem;
}
.news__heading{
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow : ellipsis;
}
.news__heading a{
    text-decoration: none;
    color: #685f52;
}
.news__title p{
    font-size: 1.6rem;
    color: #555;
    line-height: 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow : ellipsis;

}
.news__heading a:hover{
    color: var(--primary-color);
}

/* mail */

#mail{
    margin-top: 50px;
}
.mail__Post{
    width: 100%;
    height: auto;
    background-image: url(/image/banner_content.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.mail__post--padding{
    padding: 60px 0;
}
.mail__title--heading{
    line-height: 4rem;

}
.mail__title--heading h2{
    margin: 0;
    padding-bottom: 20px;
    font-size: 4rem;
    color: #555;
    text-transform: uppercase;
    font-style: italic;
}
.mail__title--footer p{
    margin: 0;
    color: var(--text-color);
    font-size: 1.7rem;
    font-style: italic;
}
.mail__form{
    padding: 20px 0 ;
}
.mail__form--post{
    position: relative;
}
.mail__input{
    width: 100%;
    height: 50px;
    font-size: 1.6rem;
    padding: 0 10px;
    border: none;
    color: var(--text-color);
    outline: none;
}
.mail__submit{
    position: absolute;
    top: 0;
    right: 0;
    width: 130px;
    height: 100%;
    background-color: var(--green-color);
    color: var(--white-color);
    border: none;
    display: block;
    font-size: 1.3rem !important;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform .3s ease-in-out;
}
.mail__submit:hover{
    background-color: #f7b111;
}

/* footer */
#footer{
    margin-top: 20px;
}

.footer__top{
    padding: 25px 0 10px 0;
}
.footer__heading h2{
    margin: 0;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--black-color);
}
.footer__heading--bottom{
    width: 25px;
    height: 2px;
    margin-top: 5px;
    background-color: var(--green-color);
}
.footer__introduce{
    font-size: 1.5rem;
    line-height: 2rem;
    color: #555;
    margin: 0;
    padding: 20px 0;
}
.footer__icon{
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* margin: 0 auto; */
    /* justify-content: center; */
}
.footer__icon--item{
    /* padding-left:5px; */
    margin-right:6px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    list-style-type: none;
    font-size: 1.4rem;
    /* background-color: blue; */
    display: inline-block;
    border-radius: 100%;
    position: relative;
    opacity: 0.8;
    cursor: pointer;
    transition: all .2s ease;
}
.footer__icon--item:hover{
    opacity: 1;
}
.footer__icon--item.facebook{
    background-color: #627AAD;

}
.footer__icon--item.twitter{
    background-color: #4AB4F5;

}
.footer__icon--item.google{
    background-color: #e2695f;
    
}
.footer__icon--item.pinterest{
    background-color: #E34148;

}
.footer__icon--link{
    color: var(--white-color);
}
.footer__address{
    padding: 20px 0;
}
.footer__address p{
    font-size: 1.6rem;
    margin: 0;
    padding-bottom: 15px;
    color: #555;
}
.footer__address p i{
    color: var(--green-color);
}
.footer__img{
    position: relative;
    overflow: hidden;
}
.footer__img img{
    width: 100%;
    height: 100%;
}
.footer__img-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: var(--white-color);
    text-decoration: none;
    background-color: var(--green-color);
    /* display: none; */
    display: flex;
    visibility: hidden;
}
.footer__img:hover .footer__icon-link{
    display: flex;
    visibility: inherit;
}
.padding{
    padding: 20px 0;
}
.footer__instagram{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 4px;
    grid-template-areas: 
    "h1 h2 h3 "
    "h4 h5 h6 ";
}
.footer__instagram--post:first-child{
    grid-area: h1;
}
.footer__instagram--post:nth-child(2){
    grid-area: h2;
}
.footer__instagram--post:nth-child(3){
    grid-area: h3;
}
.footer__instagram--post:nth-child(4){
    grid-area: h4;
}
.footer__instagram--post:nth-child(5){
    grid-area: h5;
}
.footer__instagram--post:last-child{
    grid-area: h6;
}
.instagram__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer__instagram--post{
    position: relative;
    cursor: pointer;
}
.instagram__child{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #94c347;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--white-color);
}
.footer__instagram--post:hover .instagram__child{
    display: flex;
}
.footer__notify{
    padding: 40px 0;
    /* background-color: rgba(0, 0, 0, 0.5); */
}
.customer__text.active::after,
.customer__text.active::before{
    background-color: var(--green-color);
}
.header__title h3{
    margin: 0;
    padding: 0 0 15px 0;
    color: #555;
    font-weight: 300;
    font-size: 1.6rem;
}
.notify__time{
    margin: 0;
    padding: 0 0 15px 0 !important;
    color: var(--text-color) !important;
}
.footer__bottom{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    color: #555;
}

/* scroll menu */

.scroll__menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--white-color);
    animation: fade linear .7s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@keyframes fade{
    from{
        opacity: 0.5;
        top: -10%;
        /* height: 50%; */
    }
    to{
        opacity: 1;
        top: 0;
        /* height: 100%; */
    }

}
.padding__logo{
    padding: 20px 0 15px 0 !important;
}
#arrow{
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 40px;
    z-index: 20;
    width: 40px;
    font-size: 1.8rem;
    text-align: center;
    line-height: 40px;
    color: var(--white-color);
    /* align-items: center; */
    cursor: pointer;
    display: none;
    background-color: #A3CB38;
    border-radius: 4px;
}
#arrow:hover{
    background-color: #EE5A24;
}